[submodule "infra"]
	path = infra
	url = https://github.com/damasceno-dev/devstage-infra.git
[submodule "server"]
	path = server
	url = https://github.com/damasceno-dev/devstage-backend.git
[submodule "web"]
	path = web
	url = https://github.com/damasceno-dev/devstage-frontend.git
